#introduction {
  color: red;
  background-color: yellow;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.5em;
}

#my-favourite-color {
  color: blue;
  background-color: lime;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.5em;
}

#my-number-of-siblings {
  color:orange;
  background-color:purple;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.5em;
}

#my-favourite-food {
  color: black;
  background-color:red;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.5em;
}

#my-favourite-color {
  color: cyan;
  background-color: darkcyan;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.5em;
}

section {
  background-color: yellowgreen;
  padding: 10px;
}

#my-hair-color {
  color: white;
  background-color: purple;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.5em;
}