#introduction {
  color: white;
  background-color: #1e3d59;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.5em;
}

#my-favourite-color {
  color: navy;
  background-color: #f5f0e1;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.5em;
}

#my-number-of-siblings {
  color: whitesmoke;
  background-color: #ff6e40;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.5em;
}

#my-favourite-food {
  color: black;
  background-color: #ffc13b;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.5em;
}

#my-favourite-color {
  color: cyan;
  background-color: darkcyan;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.5em;
}

section {
  background-color:bisque;
  padding: 10px;
}

#my-hair-color {
  color: white;
  background-color: purple;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.5em;
}